[MASTER]
max-line-length=120
disable=C0111,C0103

[MESSAGES CONTROL]
disable=C0111,C0103

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,id
bad-names=foo,bar,baz,toto,tutu,tata

[DESIGN]
max-args=5
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7
max-public-methods=20

[IMPORTS]
deprecated-modules=regsub,TERMIOS,Bastion,rexec

[CLASSES]
defining-attr-methods=__init__,__new__,setUp
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[EXCEPTIONS]
overgeneral-exceptions=Exception 